/* 阿里矢量图 */
@font-face {font-family: 'iconfontyyy';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfontyyy') format('svg');
}
.iconfontyyy{
    font-family:"iconfontyyy" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*顶部搜索框*/

* {
    box-sizing: border-box;
}
.s-page{display: none;}
.border-1{border-top: 0.027rem solid #fff;}
.border-tr5{ border-top-right-radius: 5px;}
.border-br5{border-bottom-right-radius: 5px;}
.border-tl5{border-top-left-radius: 5px;}
.border-bl5{border-bottom-left-radius: 5px;}

#body{    height: 1000px;
    max-width: 540px;margin: 0 auto;position: relative;}
.search-box {
    padding: 0.213333rem 0.21333rem;
    position: fixed;
    z-index: 12;
        background-color: #F6F6F6;
        height: 1.2rem;
}

.search-box div {
    width: 8.37333rem;
    height: 0.693rem;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0 0.213rem;
    color: #666;
    display: inline-block;
    vertical-align: top;
}

.search-box div span {
    line-height: 0.64rem;
    display: inline-block;
  	height: 0.64rem;vertical-align: top;
}
.search-box div span:nth-child(1){padding-top: 0.04rem;}
.search-box a{ height: 100%; text-align: center; color: #039cdd;display: inline-block;
    position: absolute;right: 0.373rem;}
.search-box a:link{text-decoration-line: none;}
.search-box a .user{display: block;font-size: 0.533rem;vertical-align:bottom;}
.search-box a span{vertical-align: top;display: block;margin-top: -0.053rem;}
.lunbo{padding-top: 1.18rem;position: relative;}
.lunbo img{width: 100%;}
 .swiper-container {
        width: 100%;
        height: 2.027rem;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
/* 主导航 */
.nav{padding: 0.11rem;}
.nav a{color: #fff;font-size: 15px;text-align: center;position: relative;}
.row{margin-bottom: 0.107rem; margin-left:-0.04rem;  height: 2.533rem;overflow: hidden;display: flex;}
.row .col-1{flex: 1;margin-left: 0.04rem;}
.row .col-1 .hotel{background: #ff697a;display: block;height: 2.533rem;    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
.row .col-1  em{margin-top: 0.453rem;display: inline-block;}
.row .col-1 i{display: block;width: 1.147rem;height: 1.07rem;background: url('../image/un_ico_home_v620.png') no-repeat;   
 background-size: 2.773rem auto;bottom: 0.267rem;position: absolute;left: 50%;transform: translate(-50%)}
.row .col-1 .hotel i{background-position: 0 -3.307rem;}
.row .col-1 .col-r{background: #ff697a;display: block;height: 50%;line-height:1.253rem; }
.row .col-1 .flight{background: #3d98ff;display: block;height: 2.533rem;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
.row .col-1 .flight i{background-position: 0 -7.573rem;}
.row .col-1 .bg-flight{background: #3d98ff;}
.row .col-1 .vacation{background: #44c522;display: block;height: 2.533rem;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
.row .col-1 .vacation i{background-position: 0 -4.8rem;}
.row .col-1 .bg-vacation{background: #44c522;}
/* 底部橙颜色 */
.row .col-1 .bg-cheng{background: #fc9720;}

/* 搜索页面样式 */
.s-page .search{height: 1.253rem;background: #e6f0f7;position: relative;}
#s-page-back{position: absolute;left: 0;top: 0;height: 1.253rem;line-height:1.12rem ; width: 1.2rem;font-size: 40px;text-align: center;color: #82878b;}
.s-page .search form{height: 1.253rem; position: absolute;left: 1.28rem;padding: 0.13rem}
.s-page .search .s-box {vertical-align: top; padding-left: 0.933rem; width: 7.333rem; height: 0.933rem; display: inline-block;background: #fff;}
.s-page .search .s-box input{font-size: 14px;height: 0.933rem;border: 0;width: 5.333rem;}
.s-page .search .s-box span{line-height: 0.86rem; width: 0.9rem;display: inline-block;height: 0.933rem;vertical-align: top;font-size: 0.6rem;text-align: center;color: #ccc;}
.s-page .s-btn{height: 0.96rem;border: 0;background: none;color: #18a5df;font-size: 15px;width: 1.12rem;text-align: center;}

.s-page .d-app{height: 1.333rem;background: #f2f2f2 ;position: relative;}
.s-page .d-app i{background: url('../image/un_icon_ctrip.png') no-repeat; position: absolute;left: 0.267rem;top: 0.133rem;height: 1.067rem;width: 1.067rem;}
.s-page .d-app .s-left1{margin-left: 1.6rem;color: #333;line-height: 1.333rem;font-size: 16px;}
.s-page .d-app .s-left2{color: #f60;font-size: 18px;}
.s-page .hot{line-height: 0.8rem; height: 0.8rem;background: #f2f2f2 ;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;color: #666;padding-left: 0.4rem;}
.s-page li{height: 1.227rem;padding-left: 1.067rem;line-height: 1.227rem;font-size: 16px;border-bottom: 1px solid #DDD;}
.s-page li a{color: #000;}

/* myctrip样式 */
.my-login-box{position: relative; height: 4.267rem;background: url('../image/photo_myctrip@2x_6.22.jpg') no-repeat;background-size: 100% 100%;}
.my-login-box .top{height: 1.173rem;}
.my-login-box .top a,.my-rrr{text-align: center;line-height: 1.473rem; display: inline-block;width: 1.173rem; height: 1.173rem;}
.my-login-box .top .my-back{background: url('../image/un_home_mobile@2x_6.22.png') no-repeat 0 -0.587rem ; background-size: 1.173rem auto;
width: 0.533rem;height: 0.533rem;display: inline-block;}
.my-login-box .top .my-rrr{float: right;position: relative;}
.my-login-box .top .my-rrr::after{
    background: url('../image/un_home_mobile@2x_6.22.png') no-repeat -0.667rem -2.4rem ; background-size: 1.173rem auto;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 0.507rem;
    height: 0.48rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.my-login-box h1{padding-top: 0.56rem;
    text-align: center;
    font: 18px/1 Microsoft Yahei;
    color: #fff;}
.my-login-box .bottom{text-align: center;position: absolute;bottom: 0;width: 100%;height: 1.493rem;}
.my-login-box .bottom .my-dengz{margin-right: 0.4rem;    width: 3.2rem;
    height: 0.96rem;vertical-align: top;
    line-height: 0.96rem;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50px;
    background-color: #ff9a14;
    -webkit-tap-highlight-color: #e47c15;border: 0;}
.my-login-box .bottom .chaxun{margin-left: 0.4rem;    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.5);
    height: 0.907rem; vertical-align: top;
    line-height: 0.907rem;    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50px;width: 3.2rem}
.my-myctrip i{width: 0.533rem;height: 0.533rem; background: url('../image/un_home_mobile@2x_6.22.png') no-repeat;background-size: 1.173rem auto;}
.my-warp .my-wallet{padding-top: 0.35rem; color: #333;    font-size: 16px;position: relative;padding-left: 1.253rem;height: 2.0rem;}
.my-warp .my-wallet i{    position: absolute;left: 0.453rem;
    top: 0.4rem;    background-position: 0 -1.067rem;}
.my-warp .my-wallet em{display: block;color: #999;font-size: 13px;line-height: 0.773rem;}
